*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}

header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 27%;
    height: 100px;
    margin-bottom: 20px;
}

header img{
    width: 180px;
    padding: 45px 0px 0px 230px;
}

main, footer{
    margin: 0 auto;
    width: 1050px;
}

h1{
    font-size: 34px;
    line-height: 34px;
}

h2, h3, h4{
    color: #7f7f7f;
}

h2, h3{
    font-weight: 500;
}

h2, h4{
    font-size: 18px;
}

h4{
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #61c1ec;
}

h3, #sottotitoli{
    font-size: 14px;
}

#sottotitoli {
    color: black;
}

p, ul {
    margin:20px 0px;
}

span {
    background-color: #ffff00;
}

table{
    border-spacing: 0px;
}

th {
    background-color: #20a9e5;
    font-weight: 600;
    color: white;
    width: 500px;
}

.fondo_tabella{
    background-color: #b1e5f2;
}

.fondo_1, .fondo_2{
    width: 190px;
    height: 150px;
}

.fondo_1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin: 10px 0px;
}

.fondo_2{
    background-image: url(../img/graph.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.testo_fondo{
    color: white;
    font-weight: 600;
    padding: 7px 7px;
}